@import "emma";

// =============================================================================
// variables
// =============================================================================

$x-color-bg: #1c1c1c;
$x-color-text: #eeeeee;
$x-color-icon-link-1: #494949;
$x-color-icon-link-2: #cccccc;

// =============================================================================
// mixins
// =============================================================================

@mixin no-bullets {
  list-style: none;
  li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
  }
}

@mixin media($query) {
  @media #{$query} {
    @content;
  }
}

$query-portrait-phones:   "only screen and (max-width: 320px)";
$query-landscape-phones:  "only screen and (min-width: 321px) and (max-width: 767px)";
$query-portrait-tablets:  "only screen and (min-width: 768px) and (max-width: 979px)";
$query-landscape-tablets: "only screen and (min-width: 980px) and (max-width: 1199px)";
$query-large-display:     "only screen and (min-width: 1200px) and (max-width: 1599px)";
$query-x-large-display:   "only screen and (min-width: 1600px)";

@mixin ellipsis($no-wrap: true) {
  @if $no-wrap {
    white-space: nowrap;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}

// =============================================================================
// application
// =============================================================================

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

body {
  background: $x-color-bg image-url("bg.png") repeat repeat;
  color: $x-color-text;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

.header {
  position: relative;
  text-align: center;
  margin-top: 200px;
  height: 300px;
  &__heading {
    $_logo: "logo.ja.png";
    display: block;
  }
  &__menu-list {
    @include no-bullets;
    $_width: 224px;
  }
  &__menu-list-item {
    display: inline-block;
    a {
      color: $x-color-icon-link-1;
      text-decoration: none;
      padding: 14px;
      font-size: 28px;
      span {
        font-size: 0;
      }
    }
  }
}

.section {
  margin: 0 auto;
  padding: 0;
  .pic-list {
    @include no-bullets;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow: hidden;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative;
      @include media($query-portrait-phones)   { width: 100%; }
      @include media($query-landscape-phones)  { width: 50%; }
      @include media($query-portrait-tablets)  { width: 50%; }
      @include media($query-landscape-tablets) { width: 33.333%; }
      @include media($query-large-display)     { width: 25%; }
      @include media($query-x-large-display)   { width: 20%; }
      img {
        width: 100%;
      }
      span {
        display: none;
        position: absolute;
        left: 0;
        top: 90%;
        max-width: 90%;
        padding: 0 10px;
        background-color: rgba(black, 0.65);
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 1.6;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        @include ellipsis;
      }
    }
    #is-pic-list-last-item {
      visibility: hidden;
      position: relative;
      > i {
        font-size: 20px;
        color: $x-color-icon-link-1;
        position: absolute;
        left: 47%;
        bottom: 40%;
      }
    }
  }
}
